.mainWrapper {
  height: 100vh;
  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aside {
  background: burlywood;
  display: flex;
  flex-direction: column;
}

.main {
  background: azure;
}
